@import '../../styles/index';

.skill {
    position: relative;
    background-color: #342627;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: px-to-rem(50) px-to-rem(20);
    box-sizing: border-box;
    overflow: hidden;

    &-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        &:not(:last-child) {
            margin-bottom: px-to-rem(48);
        }

        > h2 {
            font-size: px-to-rem(24);
            font-weight: 700;
            margin-bottom: px-to-rem(16);
            margin-top: 0;
            color: #C7BBB3;
        }
    }
    &-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        border: 1px solid #C7BBB3;
        border-radius: px-to-rem(8);
        height: 0;
        padding-top: 100%;
        text-align: center;
    }
    &-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: px-to-rem(16);
        color: darken(#C7BBB3, 5%);

        > span {
            margin-bottom: px-to-rem(4);
        }
        > p {
            font-size: px-to-rem(20);
            white-space: nowrap;
        }
    }

    &-circle {
        position: absolute;
        border-radius: 50%;
        background-color: #c7bbb3;
        opacity: 5%;
        pointer-events: none;
        user-select: none;
        z-index: 0;

        &--one, &--two {
            width: 150vw;
            height: 120vw;
        }
        &--one {
            bottom: -70vw;
            left: -50vw;
        }
        &--two {
            bottom: -75vw;
            left: -50vw;
        }
    }

    @include respond-to(md) {
        padding: px-to-rem(50);
    }
}


@keyframes moving-animation {
    0% {
        transform: translateX(-50%) translateY(0);
        opacity: 100%;
    }
    50% {
        transform: translateX(-50%) translateY(8px);
        opacity: 0;
    }
    100% {
        transform: translateX(-50%) translateY(0);
        opacity: 0;
    }
}
