body {
    font-size: 14px;
    position: relative;

    @include respond-to(md) {
        font-size: 14px;
    }
    @include respond-to(xxl) {
        font-size: 18px;
    }
}

div {
    box-sizing: border-box;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

audio,
video {
    display: inline-block;
}

figure {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 0;
}

img {
    border-style: none;
    font-size: 0;
    width: 100%;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

b, i, strong, em, small, span {
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}
