@import '../../styles/index';


.hero {
    position: relative;
    background-color: #342627;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: px-to-rem(100);
    box-sizing: border-box;
    overflow: hidden;

    &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: px-to-rem(48);

        > h1 {
            color: #c7bbb3;
            font-size: px-to-rem(32);
            font-weight: 700;
            margin-bottom: px-to-rem(20);

            @include respond-to(sm) {
                font-size: px-to-rem(48);
            }
            @include respond-to(md) {
                font-size: px-to-rem(58);
            }
            @include respond-to(lg) {
                font-size: px-to-rem(78);
            }
            @include respond-to(xl) {
                font-size: px-to-rem(92);
            }
        }
        > p {
            color: #c7bbb3;
            font-size: px-to-rem(16);
            font-weight: 400;
            margin-bottom: px-to-rem(20);
            text-align: justify;
            text-align-last: left;
            max-width: 800px;
            line-height: 1.5;

            @include respond-to(sm) {
                font-size: px-to-rem(18);
            }
            @include respond-to(md) {
                font-size: px-to-rem(20);
                padding-right: px-to-rem(16);
            }
            @include respond-to(lg) {
                font-size: px-to-rem(22);
            }
            @include respond-to(xl) {
                font-size: px-to-rem(24);
            }
        }

        @include respond-to(md) {
            margin-bottom: 0;
        }
    }
    &-image {
        position: relative;
        margin: 0 auto;

        & figure {
            max-width: 450px;
            overflow: hidden;
            border-radius: px-to-rem(8);
            box-shadow: 10px 10px 0 0 lighten(#342627, 5%);
            font-size: 0;
            transform: rotate(5deg);
        }
    }
    &-actions {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: px-to-rem(8);
    }

    &-circle {
        position: absolute;
        border-radius: 50%;
        width: 150vw;
        height: 120vw;
        background-color: #c7bbb3;
        opacity: 5%;
        pointer-events: none;
        user-select: none;
        z-index: 0;

        &--one {
            top: -70vw;
            left: 5vw;
        }
        &--two {
            top: -75vw;
            left: 4vw;
        }
    }

    @include respond-to(md) {
        padding-bottom: px-to-rem(200);
    }
}
