@use "sass:math";
@import '../../styles/index';


.hero {
    position: relative;
    background-color: #342627;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: px-to-rem(100);
    box-sizing: border-box;
    overflow: hidden;

    &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: px-to-rem(48);

        > h1 {
            color: #c7bbb3;
            font-size: px-to-rem(32);
            font-weight: 700;
            margin-bottom: px-to-rem(20);

            @include respond-to(sm) {
                font-size: px-to-rem(48);
            }
            @include respond-to(md) {
                font-size: px-to-rem(58);
            }
            @include respond-to(lg) {
                font-size: px-to-rem(78);
            }
            @include respond-to(xl) {
                font-size: px-to-rem(92);
            }
        }
        > p {
            color: #c7bbb3;
            font-size: px-to-rem(16);
            font-weight: 400;
            margin-bottom: px-to-rem(20);
            text-align: justify;
            text-align-last: left;
            max-width: 800px;
            line-height: 1.5;

            @include respond-to(sm) {
                font-size: px-to-rem(18);
            }
            @include respond-to(md) {
                font-size: px-to-rem(20);
                padding-right: px-to-rem(16);
            }
            @include respond-to(lg) {
                font-size: px-to-rem(22);
            }
            @include respond-to(xl) {
                font-size: px-to-rem(24);
            }
        }

        @include respond-to(md) {
            margin-bottom: 0;
        }
    }
    &-image {
        position: relative;
        margin: 0 auto;

        & figure {
            max-width: 450px;
            overflow: hidden;
            border-radius: px-to-rem(8);
            box-shadow: 10px 10px 0 0 lighten(#342627, 5%);
            font-size: 0;
            transform: rotate(5deg);
        }
    }
    &-actions {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        gap: px-to-rem(8);
    }
    &-mouse {
        position: absolute;
        bottom: px-to-rem(25);
        left: 50%;
        transform: translateX(-50%);
        width: px-to-rem(24);
        height: px-to-rem(40);
        border-radius: px-to-rem(12);
        border: 2px solid #c7bbb3;
        opacity: 50%;
        transition: all 0.2s ease-in-out;

        &:before {
            content: "";
            position: absolute;
            top: px-to-rem(6);
            left: 50%;
            width: px-to-rem(6);
            height: px-to-rem(6);
            border-radius: 50%;
            background-color: #c7bbb3;
            opacity: 50%;
            animation: moving-animation 1s infinite ease-in;
        }
    }

    &-circle {
        position: absolute;
        border-radius: 50%;
        width: 150vw;
        height: 120vw;
        background-color: #c7bbb3;
        opacity: 5%;
        pointer-events: none;
        user-select: none;
        z-index: 0;

        &--one {
            top: -70vw;
            left: 5vw;
        }
        &--two {
            top: -75vw;
            left: 4vw;
        }
    }

    @include respond-to(md) {
        padding-bottom: px-to-rem(200);
    }
}

.experience {
    position: relative;
    background-color: #c7bbb3;
    padding: px-to-rem(50) px-to-rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    color: #342627;

    &-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: px-to-rem(40);

        > h2 {
            font-size: px-to-rem(24);
            font-weight: 700;
            margin-bottom: px-to-rem(8);
            margin-top: 0;
        }

        > span {
            font-size: px-to-rem(16);
            font-weight: 600;
            margin-bottom: px-to-rem(4);
            margin-top: 0;
            color: lighten(#342627, 15%);

            > em {
                font-style: normal;
                font-weight: 300;
            }
        }

        &:not(:last-child) {
            margin-bottom: px-to-rem(32);
            .experience-bullet:before {
                height: calc(100% - 24px);
            }
        }
    }
    &-details {
        margin-bottom: px-to-rem(20);
        padding-left: px-to-rem(32);
    }
    &-objective {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        &:not(:last-child) {
            margin-bottom: px-to-rem(8);
        }

        > span {
            margin-right: px-to-rem(8);
            color: #C14234;
        }
    }
    &-bullet {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: px-to-rem(24);

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: px-to-rem(24);
            height: px-to-rem(24);
            background-color: lighten(#C14234, 15%);
            opacity: 50%;
            transform: rotate(45deg);
        }
        &:before {
            content: "";
            position: absolute;
            top: px-to-rem(40);
            left: 50%;
            width: px-to-rem(2);
            height: calc(100% - 32px);
            transform: translateX(-50%);
            background-color: lighten(#C14234, 15%);
            opacity: 50%;
        }
    }

    &-circle {
        position: absolute;
        border-radius: 50%;
        background-color: #342627;
        opacity: 5%;
        pointer-events: none;
        user-select: none;
        z-index: 0;

        &--one, &--two {
            width: 150vw;
            height: 120vw;
        }
        &--one {
            bottom: -70vw;
            left: 5vw;
        }
        &--two {
            bottom: -75vw;
            left: 4vw;
        }
        &--three {
            width: 50vw;
            height: 50vw;
            top: 15%;
            left: -25%;
        }
        &--four {
            width: 45vw;
            height: 45vw;
            top: 15%;
            left: -25%;
        }
    }

    @include respond-to(md) {
        padding: px-to-rem(50);
    }
}

.links {
    position: relative;
    background-color: #342627;
    padding: px-to-rem(50) px-to-rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow: hidden;
    color: #c7bbb3;

    &-item {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: px-to-rem(16);
        background-color: #433535;
        border-radius: px-to-rem(8);
        height: 100%;
        box-sizing: border-box;

        > figure {
            overflow: hidden;
            border-radius: px-to-rem(8);
            font-size: 0;
            margin-bottom: px-to-rem(8);
        }
        > h3 {
            font-size: px-to-rem(18);
            font-weight: 700;
            margin-bottom: px-to-rem(8);
            margin-top: 0;
        }
        > p {
            overflow: hidden;
            line-height: 1.2;
            font-size: px-to-rem(14);
            height: px-to-rem(16.9 * 4);
            text-align: justify;
            text-align-last: left;
            margin-top: auto;
        }
    }

    @include respond-to(md) {
        padding: px-to-rem(50);
    }
}

@keyframes moving-animation {
    0% {
        transform: translateX(-50%) translateY(0);
        opacity: 100%;
    }
    50% {
        transform: translateX(-50%) translateY(8px);
        opacity: 0;
    }
    100% {
        transform: translateX(-50%) translateY(0);
        opacity: 0;
    }
}
